**/.DS_Store

.gitignore
*.txt

# Blacklist everything
#/*

# Whitelist .gitignore, because it needs to be the same everywhere
!.gitignore

# Whitelist Ignition's 'projects' directory and our directories
!projects

# Blacklist directories that I dont want saved (secrets, etc)
#\secrets*
#\backups*
#\db-backups*
#\tags*
#gateway_backup.gwbk/*

# Always blacklist the projects/.resources directory because IA says so
\.resources*
#projects/site1/.resources/*
#projects/site2/.resources/*
#projects/site1/conversion-report.txt
#projects/site2/conversion-report.txt
projects\conversion-report.txt